/* 
    Default styles applied throughout elements.
*/

@import 'colors';

a {
  cursor: pointer;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;    
}

pre {
  white-space: pre-wrap;  
  background-color: @darkgray;
  color: @white-smoke;
  padding: 4px 2px 0px 8px !important;
}

hr {
    padding: 0 !important;
    border: none !important;
    border-top: medium double #333 !important;
    color: #333 !important;
    text-align: center !important;
}

hr:after {
    content: "§" !important;
    display: inline-block !important;
    position: relative !important;
    top: -0.7em !important;
    font-size: 1em !important;
    padding: 0 0.25em !important;
    background: @white-smog !important;
}