@import 'colors';

#logo {
  background: url("../../images/meanstacklogo.jpg") no-repeat;
  background-size: contain;
  height: 35px;
  width: 100px;
  margin-top: 15px;
  margin-right: 10px;
}

.navbar {
  margin-bottom: 0px;
}
