<div>
    <page-banner></page-banner>
    <div ng-controller="TreeController" id="treeView">
        <table>
            <tr>
                <td style="vertical-align:top;">
                    <div style="width:250px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                        <tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" initial-selection="MEAN Stack Introduction"></tree>                                
                    </div>
                </td>
                <td style="padding:20px;vertical-align:top;">
                    <div class="alert alert-info" ng-bind-html="output | htmlify"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
