<div class="container">
    <form class="form-signin" ng-submit="login()">
        <div class="form-signin">
            <h2 class="form-signin-heading">Sign In</h2>
            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
            <button type="submit" class="btn btn-default">Login</button>
            <button type="button" class="btn btn-default" ng-click="register()">Register</button>
        </div>
    </form>
</div>
<!--
<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
