<div id="showcaseUI" ng-controller="ShowcaseController">
  <section id="showcaseUIViewable">
    <p id="description" bind-html-compile="widget.description"></p>
    <span id="markup" bind-html-compile="templateCached"></span>
    <br/>
    <p>Select a tab below to display a file used in the widget (files from Master repository):</p>
    <uib-tabset active="-1">
      <uib-tab ng-repeat="file in widget.files" heading="{{file.title}}" active="tab.active" disable="tab.disabled" ng-click="getFileContent(file.fileuri)">
        <button type="button" class="btn btn-default btn-sm" ngclipboard data-clipboard-text="{{lastFileFetched}}">
          <span class="glyphicon glyphicon-copy"></span> Copy Code to Clipboard
        </button>
        <br/>        
        <pre id="code" style="margin-right: 70px">{{lastFileFetched}}</pre>
      </uib-tab>
    </uib-tabset>
  </section>
</div>

